<div data-controller="selection-area">
    <div class="sound-form">
        <%= form_for @sound, url: world_sounds_path(world_id: @world) do |f| %>
                <%= f.text_field :name, data: { selection_area_target: "name" }, style: "display: none;" %>

                <%= f.text_field :path, data: { selection_area_target: "path" }, style: "display: none;" %>

                <%= f.text_field :start_x, data: { selection_area_target: "startx" }, style: "display: none;" %>

                <%= f.text_field :start_y, data: { selection_area_target: "starty" }, style: "display: none;" %>

                <%= f.text_field :height, data: { selection_area_target: "height" }, style: "display: none;" %>

                <%= f.text_field :width, data: { selection_area_target: "width" }, style: "display: none;" %>

                <div style="display: none;" data-selection-area-target="audioForm">
                    <%= f.label :audio %>
                    <%= f.file_field :audio, data: { selection_area_target: "audio" } %>

                    <%= f.submit "Submit", class: "btn btn-primary", data: { action: "submit->selection-area#addDisplayNone"} %>
                </div>
        <% end %>
    </div>
    <div class="world-edit-background"
         data-action="mousedown->selection-area#clickDown mouseup->selection-area#clickUp mousemove->selection-area#clickMove"
         data-selection-area-target="selectionArea" 
         style="position: relative; background-image: url('<%= cl_image_path( @world.image.key ) %>');">
         <% @world.sounds.each do |s| %>
            <% if s.nil? %>
                <div style="display: none;"></div>
            <% else %>
                <div class="area" style="width: <%= s.width %>%; height: <%= s.height %>%; left: <%= s.start_x %>%; top: <%= s.start_y %>%; cursor: pointer;"></div>
            <% end %>
         <% end %>
    </div>
</div>