<div class="main-container">
  <%= render "shared/navbar" %>
  <div class="wrapper">
    <div class="card-container">
      <div class="mix-container">
          <h3>My Mixes</h3>
        <div class="cards-border"></div>
        <div class="mix-cards" style="overflow-y: scroll; height: 260px;">
          <% @mixes.each do |mix| %>
            <div class="mix-card">
              <div class="mix-name">
                <%= link_to mix.name, edit_world_mix_path(mix.world, mix) %>
              </div>
              <div class="world-name">
                <p><%= mix.world.name %></p>
              </div>
              <div class="play-button" data-controller="render-icon" data-action="click->render-icon#renderOnClick">
                <i class="fa-solid fa-circle-play" data-render-icon-target="button"></i>
              </div>
            </div>
          <% end %>
        </div>
        <div class="cards-border"></div>
      </div>
      <div class="worlds-container">
        <% @worlds.each do |world| %>
          <%= link_to world_path(world) do %>
            <div class="world-card" style="background-image: url('<%= cl_image_path( world.image.key ) %>');">
              <h1><%= world.name %></h1>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="image-container" >
      <%# <% cl_image_tag @mixes.each do |mix| %>
        <%# <%= mix.world.image.key, class: "src" %>
      <%# <% end %>
      <div class="mix-overlay">
        <div class="mix-image">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <div class="mix-content">
          <h3>wow</h3>
          <input type="range" id="volume" name="volume" min="0" max="10">
        </div>
      </div>
    </div>
  </div>
</div>
