<div class="main-container">
  <%= render "shared/navbar" %>
  <div class="wrapper" data-controller="index-play">
    <div class="card-container">
      <div class="mix-container">
          <h3>My Mixes</h3>
        <div class="cards-border"></div>
        <div class="mix-cards" style="overflow-y: scroll; height: 260px;">
          <% @mixes.each do |mix| %>
            <div class="mix-card" data-index-play-target="mix" data-bgm-value="<%= cl_video_path(mix.world.bgm.key, resource_type: "video") %>" data-sound-value="<%= mix.get_mix_sounds.to_json %>">
              <div>
                  <%= link_to mix_path(mix), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      <i class="fa-solid fa-xmark text-danger fa-xl" style = "position: relative; bottom: 4px; left: 20px; color:white;"></i>
                    <% end %>
              </div>
              <div class="mix-name">
                <%= link_to mix.name, edit_world_mix_path(mix.world, mix) %>
              </div>
              <div class="world-name">
                <p><%= mix.world.name %></p>
              </div>
              <div class="play-button" data-controller="render-icon" data-index-play-target="button" data-render-icon-image-value="<%= cl_image_path(mix.world.image.key, class: "cloudinary-video") %>" data-render-icon-name-value="<%= mix.name %>" data-action="click->index-play#chooseMix index-play:showMix->render-icon#renderOnClick">
                <i class="fa-solid fa-circle-play" data-render-icon-target="button"></i>
              </div>
            </div>
          <% end %>
        </div>
        <div class="cards-border"></div>
      </div>

        <% @worlds.each do |world| %>
          <%= link_to world_path(world) do %>
            <div class="worlds-container">
              <div class="world-card" style="background-image: url('<%= cl_image_path( world.image.key ) %>');">
                <h1><%= world.name %></h1>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="image-container" style="background-image: url('<%= cl_image_path @worlds.sample.image.key %>')">
      <div class="hidden">
        <div class="mix-play">
          <i class="fa-solid fa-circle-play mouse-over" style="padding-right: 10px;" data-action="click->index-play#playMix"></i>
          <i class="fa-solid fa-circle-stop mouse-over" data-action="click->index-play#stopMix"></i>

        </div>
        <div class="mix-content">
          <h3 class="mix-name-display"></h3>
          <input type="range" id="volume" name="volume" min="0" step="0.01" max="1" data-index-play-target="volume" data-action="change->index-play#change">
        </div>
      </div>
    </div>
  </div>
</div>
