<div class="show-container" data-controller="background" data-background-bgm-value="<%= cl_video_path(@world.bgm.key, resource_type: "video")%>">

  <%= cl_image_tag @world.image.key, class: "src" %>
  <div class="main-container">
    <%= render "shared/navbar" %>
    <div class="world-content" >
        <h1><%= @world.name%></h1>
        <p><%= @world.description%></p>
        <%= link_to new_world_mix_path(@world) do %>
          <button class="show-button" >TAKE A VIEW</button>
        <% end %>
    </div>
  </div>
  <div style="margin-top: 53px; padding-left: 10px; opacity: 0.5;">
    <p>Art provided by WallpaperAccess.com</p>
  </div>
</div>
