<div class="play-container" data-controller="play" style="position: relative;">
  <% @world.sounds.each do |sound| %>
    <div data-play-target="sound"
        style="position: absolute; width: <%= sound.width %>px; height: <%= sound.height %>px; background-color: blue; left: <%= sound.start_x %>px; top: <%= sound.start_y %>px"
        data-action="click->play#toggleSound"
        data-sound-file="<%= cl_image_path( sound.audio.key )%>"
        data-enabled="<%= @mix.sounds.include?(sound) ? "true" : "false" %>"></div>
  <% end %>
</div>

 <%= simple_form_for [@mix] do |f| %>
    <div>
      <%= f.input :name %>
    </div>
    <div>
      <%= f.button :submit %>
    </div>
  <% end %>
