<div data-controller="play" data-play-bgsm-value="<%= cl_video_path(@world.bgm.key, resource_type: "video")%>">
  <div class="play-container" style="position: relative;">
    <%= cl_image_tag @world.image.key, class: "src-2" %>
    <% @world.sounds.each do |sound| %>
      <div class="sound-form" data-play-target="sound"
        style="position: absolute; width: <%= sound.width %>%; height: <%= sound.height %>%; left: <%= sound.start_x %>%; top: <%= sound.start_y %>%; cursor: pointer;"
        data-action="click->play#toggleSound"
        data-sound-id="<%= sound.id  %>"
        data-sound-file="<%= cl_video_path(sound.audio.key, resource_type: "video")%>"
        data-enabled="<%= @mix.sounds.include?(sound) ? "true" : "false" %>"
        data-volume="<%= @mix.sounds.include?(sound) ? @mix.mix_sounds.find_by(sound_id: sound.id).volume : 0 %>">
          <% if  @mix.sounds.include?(sound) %>
            <%= render "/mix_sounds/edit", mix: @mix, sound: sound %>
          <% else %>
            <%= simple_form_for [@mix, @mix_sound], defaults: { input_html: { class: 'form-box-volume' } }, data: { sound: sound.id, action: "submit->play#send", play_target: "form"} do |f| %>
              <%= f.input :sound_id, input_html: { value: sound.id, class: 'input-box' }, label: false %>
              <%= f.input :volume, input_html: { min: 0, max: 5, value: 0, step: 0.01, data: { action: "change->play#changeVolume", sound: sound.id } }, label: false, as: "range", class: "range" %>
              <%#= f.submit, class: "submit-button" %>
              <i class="fa-solid fa-volume-xmark text-danger range"></i>
            <% end %>
          <% end %>
      </div>
      <% end %>
      <div class="icon-back">
      <%= link_to worlds_path do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
  </div>

  <div class="big-save"  data-controller="save" >
    <button class="save-button" data-action="click->save#saveButton" data-save-target="save">
      save
    </button>
    <div class="my-input" data-save-target="form">
      <%= simple_form_for [@mix], data: { action: "submit->save#update" } do |f| %>
        <div>
          <%= f.input :name, label: false %>
        </div>
        <div>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
    <button class="bgm-button"
            data-play-target="bgm"
            data-action="click->play#playBgm">
            BGM</button>
</div>
