<div class="play-container" data-controller="play" style="position: relative;">
  <%= cl_image_tag @world.image.key, class: "src" %>
  <div class="form-style">
    <%= simple_form_for [@world, @mix] do |f| %>
      <div>
        <%= f.input :name %>
      </div>
      <div>
        <%= f.button :submit, class: "form-button"%>
      </div>
    <% end %>
  </div>
  <div class="icon-back">
    <%= link_to worlds_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
</div>
