<div class="main-container">
  <div class="navbar navbar-expand-sm navbar-lewagon">
    <div class="container-fluid">
      <%= link_to worlds_path do %>
        <div class="logo">
          <h1 style="color: #DF2935;">P</h1>
          <h1 style="color: #FDCA40;">X</h1>
          <h1 style="color: #3772FF">L</h1>
          <h1 style="color: white">SOUNDS</h1>
        </div>
      <% end %>
    </div>
  </div>
  <div class="profile-container">
    <div class="profile-info">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-avatar" %>
      <% else %>
        <%= image_tag "Temp_logo.jpg", class: "profile-avatar" %>
      <% end %>
      <h1><%= @user.username%></h1>
      <%= link_to "Create world", new_world_path %>
    </div>
    <div class="profile-worlds">
      <h1>My Worlds</h1>
      <div class="worlds-container">
        <% @worlds.each do |world| %>
          <%= link_to world_path(world) do %>
            <div class="world-container">
              <div class="world-card" style="background-image: url('<%= cl_image_path( world.image.key )%>');">
                <h1><%= world.name %></h1>
                <%= link_to edit_world_path(world) do %>
                  <i class="fa-solid fa-pen-to-square" id="edit-world"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
