<head>
<title>PxlSounds - curate the environment you desire!</title>
</head>
<%= cl_image_tag @world.image.key, class: "src" %>
<div class="main-container" data-controller="homepage-bgm" data-homepage-bgm-bgsm-value="<%= cl_video_path(@world.bgm.key, resource_type: "video")%>">
  <%= render "shared/navbar" %>
  <div class="sign-in">
    <% if !user_signed_in? %>
      <button class="show-button">
        <%= link_to "login", new_user_session_path %>
      </button>
    <% end %>
  </div>
  <div class="description-container">
    <div class=description>
      <h1>Welcome!</h1>
      <p style="color: #DF2935; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">This is a place where you</p>
      <p style="color: #FDCA40; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">can create the </p>
      <p style="color: #3772FF; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);">environment you desire!</p>
      <p style="font-size: 20px; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);"> Curate your relaxing environment by mixing different sounds from different worlds!  </p>
      <%= link_to worlds_path do %>
        <button class="show-button">
          <h1>explore now</h1>
        </button>
      <% end %>
    </div>
  </div>
  <div class="icon-back-homepage">
    <i class="fa-solid fa-pause" data-homepage-bgm-target="speaker" data-action="click->homepage-bgm#pauseResume"></i>
  </div>
</div>
