<div data-controller="submit-sound-form" class="edit-sound-form">
    <%= form_for @sound, url: world_sounds_path do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, data: { submit_sound_form_target: "name" } %>

            <%= f.label :path %>
            <%= f.text_field :path, data: { submit_sound_form_target: "path" } %>

            <%= f.label :start_x %>
            <%= f.text_field :start_x, data: { submit_sound_form_target: "startx" } %>

            <%= f.label :start_y %>
            <%= f.text_field :start_y, data: { submit_sound_form_target: "starty" } %>

            <%= f.label :height %>
            <%= f.text_field :height, data: { submit_sound_form_target: "height" } %>

            <%= f.label :width %>
            <%= f.text_field :width, data: { submit_sound_form_target: "width" } %>

            <%= f.label :audio %>
            <%= f.file_field :audio, data: { submit_sound_form_target: "audio" } %>

            <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>
