<!DOCTYPE html>
<html>
  <head>
    <title>PxlSounds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>

  <body>
    <% if params[:controller] == "worlds" && params[:action] == "play" %>
      <%= render "shared/flashes" %>
    <% else %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    <% end %>
    <%= yield %>
  </body>
</html>
